.header-bg {
  height: 22%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  filter: blur(3px);
}

#nav-bar {
  height: 22%;
  /* background: radial-gradient(#36495ed0, #1a1f24d0); */
  /* background-image: url("./assets/9.png"); */
  /* filter: blur(5px); */
}

#nav-bar2 {
  height: 7%;
  /* background: radial-gradient(#36495ed0, #1a1f24d0); */
  z-index: 100;
}

#navigation {
  position: relative;
  padding-left: 5%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  z-index: 1;
}

#navigation2 {
  padding-left: 5%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  z-index: 100;
}

#header {
  height: 70%;
  /* background-color: darkred; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7%;
  color: white;
}

.header-button {
  background-color: #384450;
  padding: 15px;
  border-radius: 5px;
  border: #272d33 solid 2px;
  opacity: 0.8;
}

/* #discord {
  background-color: #384450;
} */

#home-logo {
  width: 400px;
}

/* #vote {
  background-color: #384450;
} */

#home-logo {
  width: 400px;
}

.header-button:hover {
  transition: 1.5s;
  cursor: pointer;
  background-color: #546679;
  opacity: 1;
}

.header-button:not(:hover) {
  transition: 1.5s;
  background-color: #384450;
}

.header-button > a {
  text-decoration: none;
  color: white;
}

#small-logo {
  height: 50px;
  width: 50px;
}

.nav-bar-link {
  text-decoration: none;
  color: white;
}
