.header-bg {
  height: 28%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  filter: blur(3px);
}

#nav-bar {
  height: 22%;
}

#nav-bar2 {
  height: 7%;
  z-index: 100;
}

#navigation {
  position: relative;
  padding-left: 5%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  z-index: 1;
}

#navigation2 {
  padding-left: 5%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  z-index: 100;
}

#header {
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7%;
  color: white;
}

.header-button {
  background-color: #384450;
  padding: 15px;
  /* border-radius: 5px; */
  border: #272d33 solid 2px;
  opacity: 0.8;
}

#home-logo {
  width: 400px;
}

#home-logo {
  width: 400px;
}

.header-button:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: #546679;
}

.header-button:not(:hover) {
  transition: 0.5s;
  background-color: #384450;
}

.header-button > a {
  text-decoration: none;
  color: white;
}

#small-logo {
  height: 50px;
  width: 55px;
}

.nav-bar-link {
  text-decoration: none;
  color: white;
}

.nav-bar-link:hover {
  transition: 0.5s;
  color: #849db4;
}

.nav-bar-link:not(:hover) {
  transition: 0.5s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
}

.dropdown-content > a {
  color: white;
  text-decoration: none;
}

.dropdown-content > a:hover {
  color: #849db4;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#home-logo {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  25% {
    transform: translatey(-10px);
  }
  50% {
    transform: translatey(0px);
  }
  75% {
    transform: translatey(10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.active {
  color: #849db4;
}

@media only screen and (min-width: 500px) and (max-width: 825px) {
  #home-logo {
    width: 250px;
  }
  .header-button {
    background-color: #384450;
    padding: 10px;
    border: #272d33 solid 2px;
    opacity: 0.8;
    font-size: 12px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 400px) {
  #home-logo {
    width: 150px;
  }
  .pdm-home-logo#home-logo {
    width: 100px;
  }
  .header-button {
    background-color: #384450;
    padding: 10px;
    border: #272d33 solid 2px;
    opacity: 0.8;
    font-size: 6px;
  }
  #navigation {
    padding-left: 0;
    justify-content: center;
    gap: 25px;
    font-size: 10px;
  }
}
