@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #272f37;
  margin: 0rem;
  overflow: hidden;
  font-family: "Rajdhani";
  /* overflow-x: hidden; */
  overflow-y: auto;
  color: white;
}

body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #272f37; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #48617a; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: transparent; /* creates padding around scroll thumb */
}

.grid::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.grid::-webkit-scrollbar-track {
  background: #272f37; /* color of the tracking area */
}

.grid::-webkit-scrollbar-thumb {
  background-color: #48617a; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: transparent; /* creates padding around scroll thumb */
}

.buttons {
  padding: 20px 0 40px;
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 90px;
}

.container {
  display: flex;
  flex-direction: row;
  transition: all 0.2s ease-in-out;
  justify-content: center;
  margin-right: 10%;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: end;
  -webkit-appearance: none;
  border-radius: 100px;
  font-family: inherit;
  appearance: none;
  background: none;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  padding: 20px;
  outline: none;
  opacity: 0.4;
  border: none;
  color: #fff;
  width: 200px;
}

.button:hover,
.button.active {
  opacity: 1;
}

#pdm-line {
  background-color: white;
  height: 52.3vh;
  width: 1px;
  margin-right: 15px;
}

.grid {
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 90%;
  grid-gap: 20px;
  display: grid;
  width: 900px;
  height: 500px;
  overflow-y: scroll;
}

.item {
  border-radius: 4px;
  height: 150px;
  width: 100%;
  position: relative;
}

.item-pic {
  position: absolute;
  object-fit: cover;
  height: 150px;
  width: 284px;
  z-index: 1;
  border: rgb(132, 156, 184) 2px solid;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.233);
}

.vehicle-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #272f37b0;
  height: 60px;
  position: relative;
  z-index: 100;
}

.vehicle-brand-img {
  position: relative;
  object-fit: scale-down;
  width: 25px;
  height: 25px;
  opacity: 1;
  margin: 15px;
}

.vehicle-text {
  display: flex;
  flex-direction: column;
}

.vehicle-price {
  color: greenyellow;
}

.item.sport {
  background: #06f;
}
.item.super {
  background: #fff;
}
.item.grey {
  background: #8e9aa7;
}
.item.yellow {
  background: #fdc67e;
}
.item.red {
  background: #eb7676;
}

.hide {
  display: none;
}

#home-logo {
  width: 200px;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-sort:hover {
  transition: 0.7s;
  cursor: pointer;
  background-color: #546679;
  opacity: 1;
}

.btn-sort:not(:hover) {
  transition: 0.7s;
  background-color: #384450;
}

.dropdown-sort {
  position: relative;
  display: inline-block;
}

.btn-container {
  position: relative;
  margin-right: 26%;
  margin-bottom: 25px;
  left: 68%;
  margin-top: 120px;
}

.dropdown-content-sort {
  display: none;
  position: absolute;
  background-color: transparent;
  z-index: 101;
}

.dropdown-content-sort > a {
  color: white;
  text-decoration: none;
}

.dropdown-content-sort > a:hover {
  color: #849db4;
  text-decoration: none;
}

.dropdown-sort:hover .dropdown-content-sort {
  display: block;
}

.btn-sort {
  background-color: #384450;
  padding: 15px;
  border: #272d33 solid 2px;
  opacity: 1;
  color: white;
  min-width: 120px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
}

.btn-sort-content {
  background-color: #384450;
  border: none;
  color: white;
  padding: 15px;
  min-width: 120px;
}

.btn-sort-content:hover {
  transition: 0.7s;
  cursor: pointer;
  background-color: #546679;
  opacity: 1;
}

@media only screen and (min-width: 200px) and (max-width: 400px) {
  .btn-container {
    margin-top: 80px;
  }
  .btn-sort {
    padding: 8px;
    min-width: 80px;
    font-size: 8px;
  }
  .button {
    font-size: 12px;
    padding: 10px;
    width: 200px;
    align-items: center;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    padding: 0 0 0;
  }
  #pdm-line {
    background-color: white;
    height: 1px;
    width: 90%;
    margin-right: 15px;
    margin: 20px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
  }
  .grid {
    grid-gap: 5px;
    width: 95%;
    height: 350px;
    margin: 0 auto;
  }
  .item-pic {
    height: 75px;
    width: 110px;
  }
  .vehicle-info {
    height: 30px;
  }
  .vehicle-text {
    display: flex;
    flex-direction: column;
    font-size: 8px;
  }
  .item {
    height: 75px;
    width: 110px;
  }
}
