@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #272f37;
  margin: 0rem;
  overflow: hidden;
  font-family: "Rajdhani";
  /* overflow-x: hidden; */
  overflow-y: auto;
  color: white;
}

body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #272f37; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #48617a; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: transparent; /* creates padding around scroll thumb */
}

.grid::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.grid::-webkit-scrollbar-track {
  background: #272f37; /* color of the tracking area */
}

.grid::-webkit-scrollbar-thumb {
  background-color: #48617a; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: transparent; /* creates padding around scroll thumb */
}

.buttons {
  padding: 20px 0 40px;
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 90px;
}

.container {
  display: flex;
  flex-direction: row;
  transition: all 0.2s ease-in-out;
  justify-content: center;
  margin-right: 10%;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: end;
  -webkit-appearance: none;
  border-radius: 100px;
  font-family: inherit;
  appearance: none;
  background: none;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  padding: 20px;
  outline: none;
  opacity: 0.4;
  border: none;
  color: #fff;
  width: 200px;
}

.button:hover,
.button.active {
  opacity: 1;
}

#pdm-line {
  background-color: white;
  height: 52.3vh;
  width: 1px;
  margin-right: 15px;
}

.grid {
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 90%;
  grid-gap: 20px;
  display: grid;
  width: 900px;
  height: 500px;
  overflow-y: scroll;
}

.item {
  border-radius: 4px;
  height: 150px;
  width: 100%;
  position: relative;
}

.item-pic {
  position: absolute;
  object-fit: cover;
  height: 150px;
  width: 284px;
  z-index: 1;
}

.vehicle-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #272f37b0;
  height: 60px;
  position: relative;
  z-index: 100;
}

.vehicle-brand-img {
  position: relative;
  object-fit: scale-down;
  width: 25px;
  height: 25px;
  opacity: 1;
  margin: 15px;
}

.vehicle-text {
  display: flex;
  flex-direction: column;
}

.vehicle-price {
  color: greenyellow;
}

.item.sport {
  background: #06f;
}
.item.super {
  background: #fff;
}
.item.grey {
  background: #8e9aa7;
}
.item.yellow {
  background: #fdc67e;
}
.item.red {
  background: #eb7676;
}

.hide {
  display: none;
}
