@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

body {
  height: 100vh;
  width: 100vw;
  background-color: #272f37;
  margin: 0rem;
  overflow: hidden;
  font-family: "Rajdhani";
  /* overflow-x: hidden; */
  overflow-y: auto;
}
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #272f37; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #48617a; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: transparent; /* creates padding around scroll thumb */
}

body:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 1;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, #000000, #000000);
  width: 100%;
  height: 1px;
  filter: blur(3px);
}

#about-us {
  position: relative;
  margin-top: 40%;
  bottom: 0;
  margin-bottom: 10%;
  color: white;
  background-color: #384450;
  padding: 100px;
}

#about-us > a {
  font-size: 20px;
}

#aboutus-text {
  font-size: 20px;
  text-align: center;
}

#offer {
  position: relative;
  margin-top: -10%;
  bottom: 0;
  margin-bottom: 10%;
  color: white;
  background-color: rgb(48, 58, 68);
  padding: 100px;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 5%;
  top: 60%;
  transform: translate(0%, -50%);
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

/* -- YouTube Link Styles -- */

body.menu-toggled > .meta-link > span {
  color: rgb(30, 30, 30);
}

#source-link {
  bottom: 60px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link > i {
  color: rgb(239, 83, 80);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i,
.meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

#home-logo {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  25% {
    transform: translatey(-10px);
  }
  50% {
    transform: translatey(0px);
  }
  75% {
    transform: translatey(10px);
  }
  100% {
    transform: translatey(0px);
  }
}
