@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

body {
  height: 100vh;
  width: 100vw;
  background-color: #272f37;
  margin: 0rem;
  overflow: hidden;
  font-family: "Rajdhani";
  /* overflow-x: hidden; */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #272f37; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #48617a; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: transparent; /* creates padding around scroll thumb */
}

#rules {
  display: flex;
  flex-direction: row;
  color: white;
}

#title-rules {
  width: 65%;
  margin-top: 10%;
  margin-left: 10%;
}

#content {
  align-items: center;
  width: 35%;
}

#line-1 {
  margin-top: 150px;
  height: 600px;
  width: 1px;
  margin-left: 150px;
  background: white;
}

#rules-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  position: sticky;
  top: 0;
}

#rules-content-titles {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 40px;
}

#rules-content-titles > a {
  color: white;
  text-decoration: none;
}

#rules-content-titles > #content-title {
  color: #5495d6;
  font-size: 22px;
  font-weight: bold;
}

@media only screen and (min-width: 200px) and (max-width: 500px) {
  #rules-content-titles > #content-title {
    font-size: 10px;
    margin-bottom: 5px;
    text-align: center;
  }
  #rules-content-titles > a {
    font-size: 10px;
    text-align: center;
  }
  #title-rules {
    width: 85%;
    margin-top: 15%;
    margin-left: 5%;
    font-size: 8px;
  }
  #line-1 {
    margin-top: 60px;
    height: 350px;
    margin-left: 30px;
  }
  #rules-content-titles {
    gap: 12px;
    margin: 0 auto;
  }
}
